@media only screen and (min-width: 768px){

    #login{
        margin-top: 10vh;
        margin-left: 7vh;
        width: 55vh;
        position: relative;
    }
    
    #password{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 55vh;
        position: relative;
    }


    .Container{
        margin:auto;
        background:white;
        width: 70vh;
        height: 50vh;
        margin-top: 30vh;
        border: solid 1px #E2E2E2;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 9;
    }
}

@media only screen and (max-width: 768px){
    #login{
        margin: auto;
        margin-top: 10vh;
        width: 55vh;
        position: relative;
    }
    
    #password{
        margin:auto;
        margin-top: 5vh;
        width: 55vh;
        position: relative;
    }

}


h2{
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1E625A;
}

.button{
    background-color: #09766E;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    position:relative;
    margin: 3vh;
    cursor: pointer;
    border-radius: 5px;
    
}



.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}